<style type="text/css">
	td, th{
		padding: 5px;
	}
</style>

<table>
	<tr><td>Name:</td>
		<td><%= @lender.first_name %> <%= @lender.last_name %></td>
	</tr>
	<tr><td>Account Balance:</td>
		<td><%= number_to_currency(@lender.money) %></td>
	</tr>
</table>

<h3>List of people in need of help:</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr><th>Name:</th>
			<th>Need Money For:</th>
			<th>Reason For Loan:</th>
			<th>Amount Needed:</th>
			<th>Amount Raised:</th>
			<% if @can_lend %><th>Action:</th><% end %>
		</tr>
	</thead>
	<tbody>
		<% @borrowers.each do |borrower| %>
			<tr>
				<td><%= borrower.first_name %> <%= borrower.last_name %></td>
				<td><%= borrower.purpose %></td>
				<td><%= borrower.description %></td>
				<td><%= number_to_currency(borrower.money) %></td>
				<td><%= number_to_currency(borrower.raised) %></td>
				<% if @can_lend %>
					<td>
						<form action="/history" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="borrower_id" value="<%= borrower.id %>">
							$<input type="number" name="amount" value=25 style="width: 50px;">&nbsp;<input type="submit" value="Lend">
						</form>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>List of people who have lent money to:</h3>
<table class="table table-striped">
	<thead>
		<tr><th>Name:</th>
			<th>Need Money For:</th>
			<th>Reason For Loan:</th>
			<th>Amount Needed:</th>
			<th>Amount Raised:</th>
			<th>Amount Lent:</th>
		</tr>
	</thead>
	<tbody>
		<% @loans.each do |loan| %>
			<tr><td><%= loan.first_name %> <%= loan.last_name %></td>
				<td><%= loan.purpose %></td>
				<td><%= loan.description %></td>
				<td><%= number_to_currency(loan.money) %></td>
				<td><%= number_to_currency(loan.raised) %></td>
				<td><%= number_to_currency(loan.amount) %></td>
			</tr>
		<% end %>
	</tbody>
</table>